<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo-perfil">PERFIL - {{ usuario?.Nome || 'USUÁRIO' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="img">
    <img [src]="fotoPerfil" alt="Foto do Usuário" (error)="imagemErro($event)">
    <p><strong>{{ usuario?.Nome ?? 'N/A' }}</strong></p>
  </div>
  <div id="classificacao">{{ tipoUsuario || 'USUÁRIO' }}</div>

  <div class="perfil-container">
    <div class="infos">
      <div class="dados">
        <p><strong>ID:</strong> {{ usuario?.id ?? 'N/A' }}</p>
        <p><strong>CPF:</strong> {{ usuario?.CPF ?? 'N/A' }}</p>
        <p><strong>EMAIL:</strong> {{ usuario?.Email ?? 'N/A' }}</p>
        <p><strong>TELEFONE:</strong> {{ usuario?.Telefone ?? 'N/A' }}</p>
      </div>
    </div>
    <div>
      <ion-button class="botoes-perfil" id="editar" (click)="setOpen(true)">EDITAR INFORMAÇÕES</ion-button>
      <ion-button class="botoes-perfil" id="logout" (click)="logout()">LOGOUT</ion-button>
      <ion-button class="botoes-perfil" id="configuracoes" (click)="goToConfig()">CONFIGURAÇÕES</ion-button>
    </div>
  </div>

  <ion-modal [isOpen]="estaAberto">
    <ng-template>
      <div class="modal-content">
        <ion-toolbar class=>
          <ion-buttons slot="start">
            <ion-button (click)="setOpen(false)">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Editar...</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="editarPerfil()" [strong]="true">Salvar</ion-button>
          </ion-buttons>
        </ion-toolbar>

        <!-- Formulário de edição de perfil -->

        <div class="ion-padding">
          <ion-input placeholder="Nome" [(ngModel)]="usuarioEdicao.Nome"></ion-input>
          <ion-input placeholder="Email" [(ngModel)]="usuarioEdicao.Email"></ion-input>
          <ion-input placeholder="Telefone" [(ngModel)]="usuarioEdicao.Telefone"></ion-input>
        </div>

        <ion-button color="danger" class="botao-excluir" (click)="excluirPerfil()" position="bottom">Excluir
          Perfil</ion-button>
      </div>
    </ng-template>
  </ion-modal>



</ion-content>