:root {
  --backgroud-color-toolbar: #020202;
  --Onyx: #0a0a0a;
  --Carbon-Black-Strong: #181818;
  --Carbon-Black-Mid: #1d1d1d;
  --Carbon-Black-Low: #242424;
  --Violet-Twillight: #4f4bb6;
  --Wisteria-Blue: #86a5d9;
  --Strong-Cyan: #1ca8a8;
  --Bright-Snow: #f7f7f7;
}