:root {
--Onyx: #101010;
--Carbon-Black-Strong: #181818;
--Carbon-Black-Mid: #1d1d1d;
--Carbon-Black-Low: #242424;
--Violet-Twillight: #4f4bb6;
--Wisteria-Blue: #86a5d9;
--Strong-Cyan: #26dcdc;
--Bright-Snow: #f7f7f7;
}

@font-face {
font-family: "Cinzel";
src: url("../../assets/fonts/Cinzel/static/Cinzel-Regular.ttf")
format("truetype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Cinzel-Bold";
src: url("../../assets/fonts/Cinzel/static/Cinzel-Bold.ttf")
format("truetype");
font-weight: normal;
font-style: normal;
}

* {
  font-family: "Cinzel", serif;
  }

/* Toolbar */
ion-toolbar {
font-family: "Cinzel-Bold";
font-weight: 900;
text-align: center;
background: var(--background-color-toolbar);
}

/* Página */
.home-page {
--background: var(--Onyx);
padding: 16px;
}



/* Lista de prestadores */
.lista-prestadores {
display: flex;
flex-direction: column;
gap: 14px;
}

/* Card do prestador */
.prestador-card {
display: flex;
flex-direction: column;
gap: 14px;
margin: 1% 20%;
padding: 16px;

background: var(--Carbon-Black-Low);
border-radius: 18px;

box-shadow: 0 8px 24px rgba(44, 62, 80, 0.08);
}

/* Cabeçalho do card */
.prestador-header {
display: flex;
justify-content: space-between;
align-items: flex-start;
gap: 12px;
}

.prestador-header h2 {
font-family: "Cinzel-Bold";
font-weight: 600;
margin: 4px 0;
font-size: 1.1rem;
color: var(--Bright-Snow);
}

/* Descrição e estado vazio */
.descricao,
.estado-vazio {
color: var(--Bright-Snow);
font-size: 0.95rem;
line-height: 1.4;
}

/* Chip */
.chip {
display: inline-flex;
flex-direction: row;
align-items: center;

background: var(--Violet-Twillight);
color: var(--Bright-Snow);

border-radius: 999px;
padding: 6px 16px;

font-size: 0.62rem;
width: 20rem;
max-width: 90px;
font-weight: 600;
}

/* Lista de serviços */
.servicos-lista {
display: flex;
flex-direction: column;
gap: 10px;
}

/* Card de serviço */
.servico-card {
border-radius: 14px;
padding: 12px;
background: var(--Carbon-Black-Mid);
}

.servico-card h3 {
margin: 0 0 4px;
font-size: 1rem;
color: var(--Bright-Snow);
}

.servico-card p {
margin: 0 0 8px;
color: var(--Wisteria-Blue);
font-size: 0.92rem;
line-height: 1.35;
}

/* Horário */
.horario {
display: block;
color: var(--Wisteria-Blue);
font-size: 0.85rem;
font-weight: 600;
}

/* Botão */
.btn {
font-family: "Cinzel-Bold";
border-radius: 200px;
font-size: 20px;
margin: auto;
padding: 8px;
background-color: var(--Violet-Twillight);
color: var(--Bright-Snow);
}

/* Responsividade */
@media (max-width: 768px) {
.prestador-card {
margin: 1% 4%;
}

.btn {
font-family: "Cinzel-Bold";
border-radius: 8px;
font-size: 20px;
margin: 2px 0;
padding: 8px;
background-color: var(--Violet-Twillight);
color: var(--Bright-Snow);
}
}
